<main>
  <header>
    <h1>{{roomName}}</h1>
  </header>

  <div class="average-wrapper">
    <label>Durchschnitt</label>
    <div class="average-display">?</div>
  </div>

  <section class="circle-layout" id="playersSection">
    <!-- Spieler werden dynamisch eingefügt -->
  </section>
  <footer>
    <p>Choose your card 👇</p>
    <nav class="card-select">
      <button data-value="0">0</button><button data-value="1">1</button><button data-value="2">2</button>
      <button data-value="3">3</button><button data-value="5">5</button><button data-value="8">8</button>
      <button data-value="13">13</button>
    </nav>
    <button id="leaveRoomButton" class="leave-room">Leave Room</button>
  </footer>
</main>
